html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #130f26;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --primary: #130f26;
  --secondary: #85838e;
  --bg-primary: #ffffff;
  --icon: #4e4b5c;
}
