html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #6D6D6D;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  --primary: #5c5967;
  --secondary: #85838e;
  --title: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #f9f9f9;
  --bg-hover: #d5d5d5;
  --icon: #4e4b5c;
  --border: #adacb2;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(19, 15, 38, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 15, 38, 0.15);
}